:root {
  --red-brown: #2f0505;
  --gold: #c1853b;
  --red-cacao: #85311b;
  --black-total: #000000;
  --white-total: #FFFFFF;
}

body {
  background: var(--red-brown)
}

.navbar {
  background: var(--red_brown);
  color: var(--white-total);
  text-decoration: none;
}

.navbar-brand {
  width: 64px;
  height: 64px;
}

.navbar-collapse-custom {
  justify-content: space-between;
}

.navbar-nav {
  margin-left: 40px;
}

.nav-item {
  padding-right: 30px;
}

.nav-link {
  color: var(--white-total) !important;
}

.nav-link:hover {
  color: var(--gold) !important;
}

.social-network a {
  font-size: 25px;
  color: var(--gold);
  padding-left: 30px;
  transition: all 1s ease;
}

.social-network a:hover {
  color: var(--white-total);
}



.social-network {
  display: flex;
  justify-content: center;
}




@media screen and (max-width: 991px) {
  .navbar-nav {
    margin-left: auto;
  }
}